{% extends 'base.html' %}
{% block header %}
    <title>Add articles</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Contract: <bold>{{ contract}}</bold></h2>
    <h3>Add articles:</h3>
    <form action="" method="post">

        {% csrf_token %}
        {{ form.management_form }}
        {% for single_form in form %}
        {{ single_form.as_p }}
    {% endfor %}
        <div><input type="submit" value="Add"></div>
    </form>



{#<a href="{% url 'budget:contract_details' contract.id %}"><input type="submit" value="Back"></a>#}

{% endblock %}