{% extends 'base.html' %}
{% block header %}
    <title>Contracts</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Contracts</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Contractor</th>
                <th scope="col">Value</th>
                <th scope="col">Performance</th>
            </tr>
            </thead>
            <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ contract.get_absolute_url }}">{{ contract.number }}</a></td>
                    <td>{{ contract.date }}</td>
                    <td><a href="{% url 'budget:task_details' contract.task.id%}">{{ contract.task.title }}</a></td>
                    <td><a href="{% url 'budget:contractor_details' contract.contractor.id %}">{{ contract.contractor }}</a></td>
                    <td>{{ contract.contract_value|floatformat:2 }}</td>
                    <td>{{ contract.contract_performance }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



{% endblock %}