{% extends 'base.html' %}
{% load article_functions %}
{% block header %}
    <title>Financial Document for Contract: {{ contract.number }}s</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Contract: <a href="{% url 'budget:contract_details' contract.id %}">{{ contract.number }}</a></h2>
    <h4>Contractor: <a href="{% url 'budget:contractor_details' contract.contractor.id %}">{{ contract.contractor }}</a></h4>
    <h4>Task: <a href="{% url 'budget:task_details' contract.task.id %}">{{ contract.task.title }}</a> </h4>
    <h4>Contract value: {{ contract.contract_value }} PLN</h4>
    <h4>Contract peformance: {{ contract.contract_performance }} PLN</h4>
    {% if not contract.contract_performance %}
        No financial document for this contract yet.
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Value</th>
                <th scope="col">Payment Date -1</th>
                <th scope="col">Payment Date -2</th>
                {% for article in contract.article.all %}
                    <th scope="col">{{ article.total_number }}</th>
                {% endfor %}
            <th scope="col">Sum</th>
            </tr>
            </thead>
            <tbody>
            {% for findoc in findocs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ findoc.get_absolute_url }}">{{ findoc.number }}</a></td>
                    <td>{{ findoc.date }}</td>
                    <td>{{ findoc.fin_doc_value|floatformat:2 }}</td>
                    <td>{{ findoc.payment_date1 }}</td>
                    <td>{% if findoc.payment_date2 %}{{ findoc.payment_date2 }}{% else %} No additional
                        payements {% endif %}</td>

                    {% for article in contract.article.all %}
                        <td>   {% for findoc_article in findoc.findocumentarticle_set.all %}

                         {% if findoc_article.article == article %}
                        {{ findoc_article.value }}

                        {% endif %}
                            {% endfor %}</td>

                    {% endfor %}
                <td>{{ findoc.fin_doc_value }}</td>
                </tr>{% endfor %}
                <tr>
            <td colspan="6">Sum</td>

                {% for article in contract.contract_articles.all %}
                  <td>{% contract_article_performance article.contract_article contract %}</td>
                    {% endfor %} </td>
                <td>{{ contract.contract_performance }}
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if perms.add_financialdocument %}<h3>
        <a href="{% url 'budget:add_findoc' %}">Add new financial document for contract {{ contract.number }}</a>
    </h3>{% endif %}
{% endblock %}