{% extends 'base.html' %}
{% load article_functions %}
{% block header %}
    <title>Contract {{ contract.number }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="container">
        <h2>Contract: {{ contract.number }}</h2>
        <div><b>General info:</b>
            <ul>
                <li>Date: {{ contract.date }}</li>
                <li>Task: <a href="{% url 'budget:task_details' contract.task.slug %}">{{ contract.task.title }}</a></li>
                <li>Contractor: <a
                        href="{% url 'budget:contractor_details' contract.contractor.slug %}">{{ contract.contractor }}</a>
                </li>
                <li>Total value: {{ contract.contract_value }}</li>
                <li>Performance: {{ contract.contract_performance }}</li>
            </ul>
        </div>
        <div>
            <b>Financial Plan for Contract:</b>
            {% for article in contract.contract_articles.all %}
                <ul>
                    <li>{{ article.contract_article.total_number }}: {{ article.value }} PLN,
                        performance: {% contract_article_performance article.contract_article contract %} PLN
                    </li>
                </ul>
            {% endfor %}

        </div>
        {% if not contract.contract_performance %}
            <div>No financial document for contract. {% else %}</div>

            <div>
                <b>Financial documents for contract:</b>
                <ul>
                    {% for fd in contract.fds.all %}
                        <li><a href="{{ fd.get_absolute_url }}">{{ fd.number }}</a>, date: {{ fd.date }}</li>
                    {% endfor %}
                </ul>
                <h3><a href="{% url 'budget:contract-findocs' contract.id %}">Financial documents for contract -
                    details</a>
                </h3>
            </div>
        {% endif %}
        <div>You can add new fidoc to contract <a href="{% url 'budget:add_findoc' %}">here</a></div>


        <div class="row">
            <div class="col-sm">
                {% if perms.budget.change_contract %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:edit_contract' contract.slug %}" role="button">
                        Edit contract general info</a></div>
                {% endif %}

            <div class="col-sm">
                {% if perms.budget.change_contractarticle %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:contract_edit_articles' contract.slug %}"
                       role="button">
                        Edit articles in contract</a></div>
                {% endif %}

            <div class="col-sm">
                {% if perms.budget.delete_contract %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:delete_contract' contract.slug %}"
                       role="button">
                        Delete contract</a></div>
                {% endif %}
        </div>
    </div></br>

{% endblock %}