{% extends 'base.html' %}
{% block header %}
    <title>Contractor {{ contractor }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Contractor: {{ contractor }}</h2>
    <div><b>General info:</b>
        <ul>
            <li>Identity Number: {{ contractor.num }}</li>
            <li>Name: {{ contractor.name }}</li>
            <li>Last name: {{ contractor.last_name }}</li>
            <li>Total value of contracts: {{ contractor.contracts_value }} </li>
            <li>Total performance of contracts:{{ contractor.contracts_performance }} </li>
        </ul>
    </div>
    <div>
        <b>Contracts:</b>
    {% if not contractor.contracts.all %}
        <p>No contracts yet.</p>
    {% else %}
        {% for contract in contractor.contracts.all %}
            <ul>
                <li><a href="{% url 'budget:contract_details' contract.slug %}">Number: {{ contract.number }},</a>  date: {{ contract.date }}, value: {{ contract.contract_value }} PLN</li>
            </ul>
        {% endfor %}{% endif %}
    </div>
    <div>
        <b>Financial documents for contractor:</b>
    {% if not contractor.fds.all %}<p>No documents yet.</p>
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Contract</th>
                <th scope="col">Task</th>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Value</th>
                <th scope="col">Payment date (first)</th>
                <th scope="col">Payment date (second)</th>
                </tr>
            </thead>
            <tbody>
            {% for fd in contractor.fds.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'budget:contract_details' fd.contract.slug %}">{{ fd.contract.number }}</a></td>
                    <td><a href="{% url 'budget:task_details' fd.contract.task.slug %}">{{ fd.contract.task.title }}</a></td>
                    <td><a href="{{ fd.get_absolute_url }}">{{ fd.number }}</a></td>
                    <td>{{ fd.date }}</td>
                    <td>{{ fd.fin_doc_value }}</td>
                    <td>{{ fd.payment_date1 }}</td>
                    <td>{% if fd.payment_date2 %}{{ fd.payment_date2 }} {% else %} No additional payements {% endif %}</td>
                </tr>
            {% empty %} No financial documents for contractor
            {% endfor %}
            </tbody>
        </table>
     <h3><a href="{% url 'budget:contractor-findocs' contractor.slug %}">Financial documents for contractor - details</a></h3>
    {% endif %}
    </div>
    <div container>
        <div class="row">
            <div class="col-sm">
    {% if perms.budget.change_contractor %}
        <a class="btn btn-primary btn-lg" href="{% url 'budget:edit_contractor' contractor.slug %}" role="button">
            Edit contractor</a></div>{% endif %}
         <div class="col-sm">
    {% if perms.budget.delete_contractor %}
        <a class="btn btn-primary btn-lg" href="{% url 'budget:delete_contractor' contractor.slug %}" role="button">
            Delete contractor</a></div>{% endif %}
        </div>
    </div>

{% endblock %}