{% extends 'base.html' %}
{% block header %}
    <title>Contractors</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Contractors</h2>
    <table border="bold">
        <thead>
        <tr>
            <td>Id</td>
            <td>Contractor</td>
            <td>Id - NIP/PESEL</td>
            <td>Contracts</td>

        </tr>
        </thead>
        <tbody>
        {% for contractor in contractors %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ contractor.get_absolute_url }}">{{ contractor }}</a></td>
                <td>{{ contractor.num }}</td>
                <td>{% if contractor.contracts.all %}
                 <ul>   {% for contract in  contractor.contracts.all %}

                            <li><a href="{% url 'budget:contract_details' contract.id %}">{{ contract.number }},
                                value: {{ contract.contract_value }},
                                performance: {{ contract.contract_performance }}</a></li>

                    {% endfor %}</ul>
                {% else %}
                    No contracts yet
                {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3><a href="{% url 'budget:add_contractor' %}">Add new contractor</a></h3>


{% endblock %}