{% extends 'base.html' %}
{% block header %}
    <title>Contractors</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Contractors</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Contractor</th>
            <th scope="col">Id - NIP/PESEL</th>
            <th scope="col">Contracts</th>
        </tr>
        </thead>
        <tbody>
        {% for contractor in contractors %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ contractor.get_absolute_url }}">{{ contractor }}</a></td>
                <td>{{ contractor.num }}</td>
                <td>{% if contractor.contracts.all %}
                 <ul>   {% for contract in  contractor.contracts.all %}

                            <li><a href="{% url 'budget:contract_details' contract.slug %}">{{ contract.number }},
                                value: {{ contract.contract_value }},
                                performance: {{ contract.contract_performance }}</a></li>

                    {% endfor %}</ul>
                {% else %}
                    No contracts yet
                {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}