{% extends 'base.html' %}
{% block header %}
    <title>Delete contract</title>
{% endblock %}
{% block content %}
    {{ block.super }}

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete contract: {{ contract.number }}</p>
        <div><button type="submit" class="btn btn-primary">Delete</button></div>
    </form>
    <a href="{{contract.get_absolute_url}}"><div><button type="submit" class="btn btn-primary">No</button></div></a>

{% endblock %}