{% extends 'base.html' %}
{% block header %}
    <title>Delete task</title>
{% endblock %}
{% block content %}
    {{ block.super }}

    <form action="" method="post">
        {% csrf_token %}
        <p class="font weigth bolder upper case">Are you sure you want to delete task: {{ task.title }}</p>
        <div><button type="submit" class="btn btn-primary">Delete</button></div>
    </form>
    <a class='nav-link' href="{% url 'budget:task_details' task.id %}"><button class="btn btn-primary" type="submit">No</button></a>

{% endblock %}