{% extends 'base.html' %}
{% block header %}
    <title>Delete contract</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3>Confirm delete contract: {{ contract.number }}</h3>
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete contract: {{ contract.number }}</p>
        <div><input type="submit" value="Delete"></div>
    </form>
    <a href="{% url 'budget:contract_details' contract.id %}"><button type="submit">No, just kidding!</button></a>

{% endblock %}