{% extends 'base.html' %}
{% block header %}
    <title>Delete document</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete document: {{ financialdocument.number }}</p>
        <div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </form>
    <a href="{% url 'budget:findoc_details' financialdocument.id %}">
        <div>
            <button type="submit" class="btn btn-primary">No</button>
        </div>
    </a>

{% endblock %}