{% extends 'base.html' %}
{% block header %}
    <title>Delete contractor</title>
{% endblock %}
{% block content %}
    {{ block.super }}

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete contractor: {{ contractor }}</p>
        <div><button type="submit" class="btn btn-primary">Delete</button></div>
    </form>
    <a href="{% url 'budget:contractor_details' contractor.id %}"><div><button type="submit" class="btn btn-primary">No</button></div></a>

{% endblock %}