{% extends 'base.html' %}
{% block header %}
    <title>Financial document {{ findoc.number }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Financial document {{ findoc.number }}</h2>
    <h3>Contract: {{ findoc.contract.number }}</h3>
    <h3>Contractor: {{ findoc.contractor }}</h3>
    <h3>Task: {{ findoc.contract.task.title }}</h3>
    <h3>Date: {{ findoc.date }}</h3>
    <h3>Value: {{ findoc.fin_doc_value }}</h3>
    <h3>Payment date: {{ findoc.payment_date1 }} and {{ findoc.payment_date2}}</h3>
    <h3>Księgowania:...paragrafy </h3>


    <h3><a href="{% url 'budget:edit_doc' findoc.id %}">Edit document</a></h3>
    <h3><a href="{% url 'budget:findoc_edit_articles' findoc.id %}">Edit articles in document</a></h3>
    <h3><a href="{% url 'budget:delete_doc' findoc.id %}">Delete document</a></h3>


{% endblock %}