{% extends 'base.html' %}
{% block header %}
    <title>Financial document {{ findoc.number }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Financial document {{ findoc.number }}</h2>
    <div>
        <b>Document - general info:</b>
<ul>
    <li>Contract: <a href="{% url 'budget:contract_details' findoc.contract.id %}"> {{ findoc.contract.number }}</a></li>
    <li>Contractor: <a href="{% url 'budget:contractor_details' findoc.contractor.id %}">{{ findoc.contractor }}</a></li>
    <li>Task: <a href="{% url 'budget:task_details' findoc.contract.task.id %}">{{ findoc.contract.task.title }}</a> </li>
    <li>Date: {{ findoc.date }}</li>
    <li>Value: {{ findoc.fin_doc_value }} PLN</li>
    <li>Payment date: {{ findoc.payment_date1 }} {% if findoc.payment_date2 %} and {{ findoc.payment_date2}}{% endif %}</li>
</ul>
    </div>
    <div><h3>Accounting: </h3>
    <ul>
    {% for article in findoc.findocumentarticle_set.all %}
        <li>{{ article.article }} - {{ article.value }} PLN</li>
    {% endfor %}</ul>
    </div>
    {% if perms.budget.change_financialdocument %}<h3><a href="{% url 'budget:edit_doc' findoc.id %}">Edit document</a></h3>{% endif %}
    {% if perms.budget.change_findocumentarticle %}<h3><a href="{% url 'budget:findoc_edit_articles' findoc.id %}">Edit articles in document</a></h3>{% endif %}
    {% if perms.budget.delete_financialdocument %}<h3><a href="{% url 'budget:delete_doc' findoc.id %}">Delete document</a></h3>{% endif %}
{% endblock %}