{% extends 'base.html' %}
{% block header %}
    <title>Financial document {{ findoc.number }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="container">
    <h2>Financial document {{ findoc.number }}</h2>
    <div>
        <b>Document - general info:</b>
<ul>
    <li>Contract: <a href="{% url 'budget:contract_details' findoc.contract.slug %}"> {{ findoc.contract.number }}</a></li>
    <li>Contractor: <a href="{% url 'budget:contractor_details' findoc.contractor.slug %}">{{ findoc.contractor }}</a></li>
    <li>Task: <a href="{% url 'budget:task_details' findoc.contract.task.slug %}">{{ findoc.contract.task.title }}</a> </li>
    <li>Date: {{ findoc.date }}</li>
    <li>Value: {{ findoc.fin_doc_value }} PLN</li>
    <li>Payment date: {{ findoc.payment_date1 }} {% if findoc.payment_date2 %} and {{ findoc.payment_date2}}{% endif %}</li>
</ul>
    </div>
    <div><b>Accounting: </b>
    <ul>
    {% for article in findoc.findocumentarticle_set.all %}
        <li>{{ article.article }} - {{ article.value }} PLN</li>
    {% endfor %}</ul>
    </div>
<div class="row">
            <div class="col-sm">
    {% if perms.budget.change_financialdocument %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:edit_doc' findoc.id %}" role="button">
                        Edit document general info</a></div>
                {% endif %}

            <div class="col-sm">
                {% if perms.budget.change_findocumentarticle %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:findoc_edit_articles' findoc.id %}"
                       role="button">
                        Edit articles in document</a></div>
                {% endif %}

            <div class="col-sm">
                {% if perms.budget.delete_financialdocument %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:delete_doc' findoc.id %}"
                       role="button">
                        Delete document</a></div>
                {% endif %}
        </div>

</div>
{% endblock %}