{% extends 'base.html' %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <title>KSAT</title>

    {{ block.super }}

{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md">
    {% if request.user.is_authenticated %}
<p class="text-uppercase font-weigth-normal">Logged as: {{ request.user.username }}</p>

        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budget:logout' %}">Log out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budget:reset_password' %}">Reset password</a>
            </li>
            {% else %}

            <p class="nav-item">
                <a class="nav-link" href="{% url 'budget:login' %}">Log in</a>
            </p>
        </ul>
    </div>{% endif %}
</nav>

    <div class="jumbotron">

        <h1 class="display-4">Welcome to KSAT program.</h1>

        <p class="lead">Simple and easy to use program to manage your project finances.
            You can manage tasks, contracts, contractors and financial documents by adding and changing data.</p>
        <hr class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:tasks' %}" role="button">Tasks</a>
                    <p>All tasks in your budget </p>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:contractors' %}"
                       role="button">Contractors</a>
                    <p>Your contractors</p></div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:contracts' %}" role="button">Contracts</a>
                    <p>Contracts for your tasks</p></div>

            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <hr class="my-4">
        <div class="container">
            <p class="nav-item">
                To try more option you have to  <a class="btn btn-primary btn-lg" href="{% url 'budget:user_register' %}"
                       >register in  KSAT</a></p>
        </div>{% endif %}
    </div>

{% endblock %}
{% block footer %}
    {{ block.super }}
{% endblock %}