{% extends 'base.html' %}
{% block header %}
    <title>Index</title>
{% endblock %}
{% block content %}
    {{ block.super }}
<h4>
Program description...
</h4>
    <div>Inside the Ksat:
    <ul>
        <li><a href="{% url 'budget:tasks' %}"> Tasks</a></li>
        <li><a href="{% url 'budget:tasks' %}">Contractors</a></li>
        <li><a href="{% url 'budget:tasks' %}"> Contracts</a></li>
        <li><a href="{% url 'budget:tasks' %}"> Financial Documents</a></li>
    </ul></div>




{% endblock %}