{% extends 'base.html' %}
{% block header %}
    <title>Tasks</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Tasks</h2>
    <table border="bold">
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
            <td>Unit</td>
            <td>Section</td>
            <td>Value</td>
            <td>Engagement</td>
            <td>Performance</td>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></td>
                <td>{{ task.description }}</td>
                <td>{{ task.unit }}</td>
                <td>{{ task.section }} </td>
                <td>{{ task.task_value|floatformat:2}}</td>
                <td>{{ task.engagement|floatformat:2 }}</td>
                <td>{{task.performance|floatformat:2}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}