{% extends 'base.html' %}
{% load article_functions %}
{% block header %}
    <title>Task {{ task.title }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Task: {{ task.title }}</h2>
    <div><b>General info:</b>
        <ul>
            <li>Unit: {{ task.unit }}</li>
            <li>Section: {{ task.section }}</li>
            <li>Description: {{ task.description }}</li>
            <li>Total value: {{ task.task_value }} PLN</li>
            <li>Engagement: {{ task.engagement|floatformat:2 }} PLN</li>
            <li>Performance: {{ task.performance|floatformat:2 }} PLN</li>
        </ul>
    </div>
    <div>
        <b>Financial Plan - Articles:</b>
        {% for article in task.task_articles.all %}

            <ul> {% if article.value != 0 %}
                <li>{{ article.article.total_number }}, value: {{ article.value }} PLN ,
                    engagement: {% task_article_engagement article.article task %} PLN,
                    performance: {% task_article_performance article.article task %} PLN
                </li>{% endif %}
            </ul>

        {% endfor %}

    </div>
    {% if task.engagement %}
        <div>
            <b>Contracts:</b>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Number</th>
                    <th scope="col">Contractor</th>
                    <th scope="col">Date</th>
                    <th scope="col">Value</th>
                    <th scope="col">Performance</th>
                </tr>
                </thead>
                <tbody>
                {% for contract in task.contracts.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ contract.get_absolute_url }}">{{ contract.number }}</a></td>
                        <td>{{ contract.contractor }}</td>
                        <td>{{ contract.date }}</td>
                        <td>{{ contract.contract_value|floatformat:2 }} </td>
                        <td>{{ contract.contract_performance|floatformat:2 }}</td>
                    </tr>
                {% empty %} No contracts for task
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>
            No contracts for task.
        </div>
    {% endif %}
    {% if perms.budget.add_contract %}
        <a href="{% url 'budget:add_contract' %}">You can add a new contract for that task.</a>{% endif %}
    {% if task.performance %}
        <div>
            <h3><a href="{% url 'budget:task-findocs' task.id %}">Financial documents for task - details</a></h3>
        </div>
    {% else %}
        <div>
            No financial document for task. You can add a new one in contract details.
        </div>
    {% endif %}
    <div container>
        <div class="row">
            <div class="col-sm">
                {% if perms.budget.change_task %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:edit_task' task.slug %}" role="button">
                        Edit task general info</a></div>
                {% endif %}

            <div class="col-sm">
                {% if perms.budget.change_taskarticles %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:task_edit_articles' task.slug %}"
                       role="button">
                        Edit articles in task</a></div>
                {% endif %}

            <div class="col-sm">
                {% if perms.budget.delete_task %}
                    <a class="btn btn-primary btn-lg" href="{% url 'budget:delete_task' task.slug %}"
                       role="button">
                        Delete task</a></div>
                {% endif %}
        </div>
    </div>

{% endblock %}