{% extends 'base.html' %}
{% block header %}
    <title>Edit task</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3>Edit articles in task: {{ task.title }}</h3>
    {{ formset.non_form_errors }}
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for single_form in formset %}

            {{ single_form.as_p }}{{ single_form.non_field_errors }}
        {% endfor %}
        <div><input type="submit" value="Save"></div>
    </form>

{% endblock %}