{% extends 'base.html' %}
{% block header %}
    <title>Financial Document for Task: {{ task.title }}s</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Task: {{ task.title }}</h2>
    <h3>Task value: {{ task.task_value }} PLN</h3>
    <h3>Task peformance: {{ task.performance }} PLN</h3>
    {%  if not task.performance %}
    No financial document for this task yet.
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Contract</th>
                <th scope="col">Contractor</th>
                <th scope="col">Value</th>
                <th scope="col">Payement Date -1</th>
                <th scope="col">Payement Date -2</th>
            </tr>
            </thead>
            <tbody>
            {% for findoc in findocs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ findoc.get_absolute_url }}">{{ findoc.number }}</a></td>
                    <td>{{ findoc.date }}</td>
                    <td>{{ findoc.contract.number }}</td>
                    <td>{{ findoc.contractor }}</td>
                    <td>{{ findoc.fin_doc_value|floatformat:2 }}</td>
                    <td>{{ findoc.payment_date1 }}</td>
                    <td>{% if findoc.payment_date2 %}{{ findoc.payment_date2 }}{% else %} No additional payements {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if perms.budget.budget.add_financialdocument %}<h3>
    <a href="{% url 'budget:add_findoc' %}">Add new financial document for task {{ task.number }}</a>
</h3>{% endif %}
{% endblock %}