{% extends 'base.html' %}
{% block header %}
    <title>Tasks</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Tasks</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Unit</th>
            <th scope="col" >Section</th>
            <th scope="col">Value</th>
            <th scope="col">Engagement</th>
            <th scope="col">Performance</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></td>
                <td>{{ task.description }}</td>
                <td>{{ task.unit }}</td>
                <td>{{ task.section }} </td>
                <td>{{ task.task_value|floatformat:2}}</td>
                <td>{{ task.engagement|floatformat:2 }}</td>
                <td>{{task.performance|floatformat:2}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}