{% extends 'base.html' %}
{% block header %}
    <title>Task {{ task.title }}</title>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h2>Task: {{ task.title }}</h2>
    <div><b>Task general info:</b>
        <ul>
            <li>Unit: {{ task.unit }}</li>
            <li>Section: {{ task.section }}</li>
            <li>Description: {{ task.description }}</li>
            <li>Total value: {{ task.value }}</li>
            <li>Engagement:</li>
        </ul>
    </div>
    <div>
    <b>Articles:</b></div>
    <div>
    <b>Contracts:</b></div>
    <h3><a href="{% url 'budget:delete_task' %}">Delete task</a></h3>


{% endblock %}