<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block style %}
            {% comment %}
        <link rel = 'stylesheet' href="style.css">
        {% endcomment %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block header %}
    <head>
        <meta charset="utf-8">
    </head>
{% endblock %}
{% block content %}
    <h1>Ksat - to manage project budget</h1>
    <div>Inside the Ksat:
    <ul>
        <li><a href="{% url 'budget:tasks' %}"> Tasks</a></li>
        <li><a href="{% url 'budget:contractors' %}">Contractors</a></li>
        <li><a href="{% url 'budget:contracts' %}"> Contracts</a></li>
        <li> Financial Documents - go by conract details</li>
    </ul></div>

        <div>
        <ul>

        {% if perms.budget.add_task %}<li><a href="{% url 'budget:add_task' %}">task</a></li>{% endif %}
        {% if perms.budget.add_contract %}<li><a href="{% url 'budget:add_contract' %}">contract</a></li>{% endif %}
        {% if perms.budget.add_contractor %}<li><a href="{% url 'budget:add_contractor' %}">contractor</a></li>{% endif %}
        {% if perms.budget.add_financialdocument %}<li><a href="{% url 'budget:add_findoc' %}">financial document</a></li>{% endif %}
    </ul></div>
    <div>
        {% if request.user.is_authenticated %}
        Witaj, {{ request.user.username }}
        <a href="{% url 'budget:logout' %}">LogOut</a>
        {% else %}
        <a href="{%  url 'budget:login' %}">LogIn</a>
    {% endif %}
    </div>

{% endblock %}

{% block footer %}
    <div>
        <strong> Today is: {{ now }} | version: {{ version }}</strong>
    </div>
    <div>
        Copyright 2020 by KateB
    </div>
{% endblock %}
</body>
</html>