<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block style %}
            {% comment %}
        <link rel = 'stylesheet' href="style.css">
        {% endcomment %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block header %}
    <head>
        <meta charset="utf-8">
    </head>
{% endblock %}
{% block content %}
    <h1>Ksat - to manage project budget</h1>
    <div>Inside the Ksat:
    <ul>
        <li><a href="{% url 'budget:tasks' %}"> Tasks</a></li>
        <li><a href="{% url 'budget:contractors' %}">Contractors</a></li>
        <li><a href="{% url 'budget:contracts' %}"> Contracts</a></li>
        <li> Financial Documents - go by conract details</li>
        <li><a href="{% url 'budget:add_findoc' %}">Add financial document</a></li>
    </ul></div>

{% endblock %}

{% block footer %}
    <div>
        <strong> Today is: {{ now }} | version: {{ version }}</strong>
    </div>
    <div>
        Copyright 2020 by KateB
    </div>
{% endblock %}
</body>
</html>